[submodule "external/cpython"]
	path = external/cpython
	url = https://github.com/python/cpython
	branch = 3.12

[submodule "external/readerwriterqueue"]
	path = external/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue
